# Required
BOT_TOKEN=your_telegram_bot_token
REGION_NAME=ap-southeast-1
BUCKET_NAME=your_s3_bucket_name

# Optional
CHANNEL_ID=your_private_course_channel_id
ADMIN_CHANNEL_ID=your_admin_channel_id
MIN_AMOUNT_KS=5000
EXPECTED_RECEIVER_NAME=U MIN KO NAING
EXPECTED_RECEIVER_LAST4=3307
PAYMENT_TABLE=merxylab-payment
INVITED_USERS_TABLE=merxylab-invited_users
STARTED_USERS_TABLE=merxylab-startedusers
PAID_USERS_TABLE=merxylab-paid_users
